body {
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#window {
    display: none;
    width: 850px;
    height: 540px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: #14213d;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #000;
}

#bottomRectangle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 10px;
    width: 850px;
    height: 60px; /* Adjust the height as needed */
    background-color: #14213d; /* Adjust the color as needed */
}

#windowImage {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 310px; /* Adjust the width as needed */
    height: 475px; /* Maintain aspect ratio */
    display: block; /* Center image horizontally */
    margin: 20px auto; /* Adjust margin as needed */
    border-radius: 20px;
}

#copyright{
    position: absolute;
    top: 498px;
    left: 440px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #dfdfdf;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

#policy{
    position: absolute;
    top: 510px;
    left: 570px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #dfdfdf;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

#inquire{
    position: absolute;
    top: 70px;
    left: 60px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #ffffff;
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
#connect{
    position: absolute;
    top: 130px;
    left: 60px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#interested{
    position: absolute;
    top: 49px;
    left: 360px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #fca311;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#fill{
    position: absolute;
    top: 78px;
    left: 360px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#fullNameInput {

    position:absolute;
    top: 110px;
    left: 360px;
    width: 180px;
    height: 8px;
    display: block;
    border: 1.5px solid rgb(197, 191, 191);
    margin: 10px auto; /* Center the input field */
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px; /* Make the input field rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */


}
#contact {

    position:absolute;
    top: 110px;
    left: 600px;
    width: 180px;
    height: 8px;
    display: block;
    border: 1.5px solid rgb(197, 191, 191);
    margin: 10px auto; /* Center the input field */
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px; /* Make the input field rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */


}
#gmail {

    position:absolute;
    top: 159px;
    left: 360px;
    width: 423px;
    height: 8px;
    display: block;
    border: 1.5px solid rgb(197, 191, 191);
    margin: 10px auto; /* Center the input field */
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px; /* Make the input field rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */


}

#service{
    position: absolute;
    top: 210px;
    left: 360px;
    margin-bottom: 13px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
#equipment{
    position: absolute;
    top: 230px;
    left: 360px;
    margin-bottom: 13px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#construction{
    position: absolute;
    top: 228px;
    left: 540px;
    margin-bottom: 13px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
#simpleDropdown {
    position: absolute;
    top: 240px;
    left: 360px;
    width: 150px;
    height: 25px;
    display: block;
    margin: 10px auto; /* Center the dropdown */
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid rgb(197, 191, 191); /* Gray border */
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker gray shadow */
}

#simpleDropdowntwo {
    position: absolute;
    top: 240px;
    left: 540px;
    width: 150px;
    height: 25px;
    display: block;
    margin: 10px auto; /* Center the dropdown */
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid rgb(197, 191, 191); /* Gray border */
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 4px 8px rgba(116, 43, 43, 0.3); /* Darker gray shadow */
}

#date{
    position: absolute;
    top: 290px;
    left: 360px;
    margin-bottom: 13px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
#duration{
    position: absolute;
    top: 290px;
    left: 600px;
    margin-bottom: 13px; /* Adjust this value to control the spacing from the bottom */
    color: #14213d;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;

}

#dateInput{
    position: absolute;
    top: 308px;
    left: 360px;
    width: 90px;
    height: 8px;
    display: block;
    margin: 10px auto; /* Center the dropdown */
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid rgb(197, 191, 191); /* Gray border */
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker gray shadow */
    border-radius: 25px;
}

#timeInput{
    position: absolute;
    top: 308px;
    left: 480px;
    width: 85px;
    height: 8px;
    display: block;
    margin: 10px auto; /* Center the dropdown */
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid rgb(197, 191, 191); /* Gray border */
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker gray shadow */
    border-radius: 25px;
}
#dateInput2{
    position: absolute;
    top: 308px;
    left: 600px;
    width: 90px;
    height: 8px;
    display: block;
    margin: 10px auto; /* Center the dropdown */
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid rgb(197, 191, 191); /* Gray border */
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker gray shadow */
    border-radius: 25px;
}

#timeInput2{
    position: absolute;
    top: 308px;
    left: 718px;
    width: 85px;
    height: 8px;
    display: block;
    margin: 10px auto; /* Center the dropdown */
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid rgb(197, 191, 191); /* Gray border */
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker gray shadow */
    border-radius: 25px;
}

#loc {

    position:absolute;
    top: 358px;
    left: 360px;
    width: 188px;
    height: 8px;
    display: block;
    border: 1.5px solid rgb(197, 191, 191);
    margin: 10px auto; /* Center the input field */
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px; /* Make the input field rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */


}

#droploc {

    position:absolute;
    top: 358px;
    left: 600px;
    width: 185px;
    height: 8px;
    display: block;
    border: 1.5px solid rgb(197, 191, 191);
    margin: 10px auto; /* Center the input field */
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px; /* Make the input field rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */


}
#submitBtn {
    position: absolute;
    top: 420px;
    left: 600px;
    width: 100px;
    height: 30  px;
    background-color: #14213d; /* Button color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */
}

#submitBtn:hover {
    background-color: #fca311; /* Button color on hover */
}

#cancelBtn {
    position: absolute;
    top: 420px;
    left: 493px;
    width: 100px;
    height: 30  px;
    background-color: #14213d; /* Button color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gray shadow */
}

#cancelBtn:hover {
    background-color: #fca311; /* Button color on hover */
}